extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to update
 else
  - let electronicsid = toShow._id
  - let type = toShow.type
  - let Manufacturer = toShow.Manufacturer
  - let cost = toShow.cost
  div.row(class='mb-2')
   div.mr-1 ID is
   div #{electronicsid}
  - let actionid = "/resource/electronics/" + electronicsid
  form(id='electronicsForm', action= actionid, method="PUT")
   div.form-group
     label.electronicsAttr(for='type') electronics type
     input#type(type='String', name='type', value= type )
   div.form-group
     label.electronicsAttr(for='Manufacturer') electronics Manufacturer
     input#Manufacturer(type='String', name='Manufacturer', value= Manufacturer )
   div.form-group
     label.electronicsAttr(for='cost') electronics cost
     input#cost(type='number', name='cost', value= cost,min=0,max=10000)
   input(type="submit")
  script.
   document.forms['electronicsForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'PUT',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Update succeded")
     // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
   });